@import "tailwindcss";

:root {
  --background: #F6F8FC;
  --foreground: #0E1219;
  --primary: #094ECF;
  --secondary: #8AAEF1;
  --accent: #5791FE;
}

body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

input, textarea {
  background-color: white;
}

a, button, input, textarea{
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--primary);
  transform: translateY(-1px);
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}

button:hover{
  opacity: 1;
  transform: translateY(-1px);
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.1);
}

input:focus, textarea:focus {
  border-color: var(--primary);
  box-shadow: 0 0 1px 1px var(--secondary);
}